/** Import Reset CSS **/

@import url("reset.css");

/** Import Google fonts **/

@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Orienta");

/** Global Styles **/

html
{
	height: 100%;
	overflow: auto;
	
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body
{
	font-family: "Open Sans", Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	color: rgb(0,0,0);
	padding: 0 0 20px 0;
	#background: #FFF url("../images/bg.png") repeat;
}

::selection { background: #000; color: #FFF; }
::-moz-selection { background: #000; color: #FFF; }

a { color: #0088cc; text-decoration: none; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
a:hover { color: #222; }


pre {
    overflow: auto;
    padding: 10px;
    background-color: rgb(215,215,215);
    margin: 0px 0px 10px 0px;


}

/** Layout Styles **/

.container
{
	width: 100%;
	min-width: 280px;
	line-height: 22px;
}

	.darkbg
	{
		background: #222;
	}
	
	.lightbluebg
	{
		background: #0088cc;
	}
	
	/** Header **/

	.container #headercont
	{
		width: 80%;
		max-width: 980px;
		padding: 15px 0;
		margin: 0 auto;
		text-shadow: 1px 1px 1px #000;
	}
	
		.container #headercont #headerlogo
		{
			float: left;
			width: 50%;
			text-align: left;
		}
		
			.container #headercont #headerlogo h1
			{
				font-size: 26px;
				font-weight: 400;
				padding-top: 26px;
			}
			
				.container #headercont #headerlogo h1 a
				{
					font-family: "Orienta", Arial, Helvetica, sans-serif;
					color: #FFF;
					font-size: 28px;
					letter-spacing: -2px;
					line-height: 30px;
				}
				
				.container #headercont #headerlogo h1 a:hover
				{
					color: ##0088cc;
				}
				
		.container #headercont #headerright
		{
			float: left;
			width: 50%;
			padding: 12px 0 0 0;
			text-align: right;
		}
		
			.container #headercont #headerright p
			{
				font-weight: 400;
				font-size: 22px;
				color: #FFF;
				margin: 0 0 5px 0;
				letter-spacing: -0.8px;
				font-family: "Orienta", Arial, Helvetica, sans-serif;
			}
			
				.container #headercont #headerright p span
				{
					color: ##0088cc;
				}
				
				.container #headercont #headerright p.quote
				{
					font-size: 32px;
				}
		
	/** Menu **/
				
	.container #menucont
	{
		width: 80%;
		max-width: 980px;
		padding: 3px 0;
		margin: 0 auto;
	}
	
		.container #menucont .menu select
		{
			display: none;
			font-family: inherit;
		}
		
			@media (max-width: 768px)
			{
				.container #menucont .menu ul
				{
					display: none;
				}
				
				.container #menucont .menu select
				{
					display: inline-block;
					width: 100%;
					text-transform: none;
					font-family: inherit;
				}
			}
			
		.container #menucont ul
		{
			float: left;
		}
	
			.container #menucont ul li
			{
				display: inline;
			}
			
				.container #menucont ul li a
				{
					float: left;
					line-height: 40px;
					padding: 0 15px;
					font-weight: 400;
					font-size: 15px;
					text-decoration: none;
					color: #CCF5FF;
					text-transform: uppercase;
					letter-spacing: -0.3px;
					font-family: "Orienta", Arial, Helvetica, sans-serif;
				}
				
					.container #menucont ul li a:hover, .container #menucont ul li.active a
					{
						color: #FFF;
					}
					
	/** Main **/
						
	.container #maincont
	{
		width: 80%;
		max-width: 980px;
		margin: 0 auto;
		padding: 10px 0;
		text-shadow: 1px 1px 1px #FFF;
		background: url("../images/bg-maincont.png") repeat-y 74% 0;
	}
	
		.container #maincont p { margin: 0 0 20px 0; }
		.container #maincont h1, .container #maincont h2, .container #maincont h3, .container #maincont h4, .container #maincont h5 { margin: 0 0 20px 0; color: #444; font-weight: normal; letter-spacing: -1px; font-family: "Orienta", Arial, Helvetica, sans-serif; }
		.container #maincont h1 { font-size: 26px; line-height: 26px; }
		.container #maincont h2 { font-size: 24px; line-height: 24px; }
		.container #maincont h3 { font-size: 24px; line-height: 24px; }
		.container #maincont h4 { font-size: 22px; line-height: 22px; }
		.container #maincont h5 { font-size: 20px; line-height: 20px; }
		.container #maincont ul { margin: 0 0 15px 35px; list-style-type: square; }
		.container #maincont ul li { padding: 0 0 0 2px; }
		.container #maincont ol { margin: 0 0 15px 35px; list-style-type: decimal; }
		.container #maincont ol li { padding: 0 0 0 2px; }
		.container #maincont hr { clear: both; border: 0; height: 0; margin: 0 0 20px 0; border-top: 1px dashed #CCC; }
		.container #maincont blockquote { background: #151515; border-left: 3px solid #E2761C; padding: 15px; margin: 0 0 15px 0; }
	
			.container #maincont #mainleft
			{
				float: left;
				width: 72%;
				padding: 20px 3% 0 0;
				
				min-height: 400px;
				height: auto !important;
				height: 400px;
			}
			
			.container #maincont #mainright
			{
				float: left;
				width: 23%;
				padding: 20px 0 0 2%;
			}
			
				.container #maincont #mainright ul.otherlinks
				{
					margin: 0 0 15px 0;
					padding: 0;
					border-top: 1px dashed #CCC;
				}
				
					.container #maincont #mainright ul.otherlinks li
					{
						list-style-type: none;
					}
					
						.container #maincont #mainright ul.otherlinks li a
						{
							float: left;
							width: 100%;
							padding: 5px 0;
							border-bottom: 1px dashed #CCC;
						}
			
				.container #maincont #mainright .sidesection
				{
					margin: 0 0 15px 0;
					padding: 0;
				}
				
					.container #maincont #mainright .sidesection h3
					{
						margin: 0 0 10px 0;
						font-size: 24px;
					}
				
					.container #maincont #mainright .sidesection .sidetop
					{
						margin: 0 0 5px 0;
					}
					
						.container #maincont #mainright .sidesection .sidetop a img
						{
							width: 100%;
						}
		
					.container #maincont #mainright .sidesection .sidebottom p
					{
						margin: 0 0 5px 0;
						line-height: 14px;
						font-size: 12px;
					}

				.container #maincont #mainright a.hoverlink
				{
					float: left;
					position: relative;
					width: 100%;
					margin: 0 0 10px 0;
				}
				
					.container #maincont #mainright a.hoverlink img
					{
						display: block;
						width: 100%;
					}
					
						.container #maincont #mainright .overlay
						{
							-moz-transition: opacity 150ms ease-in-out 0s;
							height: 100%;
							left: 0;
							opacity: 0;
							position: absolute;
							top: 0;
							width: 100%;
							z-index: 40;
						}
						
							.container #maincont #mainright .overlay.link
							{
								background: url("../images/overlay_link.png") no-repeat scroll center center, url("../images/overlay_bg.png") repeat scroll center center transparent;
								display: inline-block;
							}
							
								.container #maincont #mainright .overlay:hover
								{
									opacity: 1;
								}
	
	/** Footer **/
			
	.container #footercont
	{
		width: 80%;
		max-width: 980px;
		margin: 0 auto;
		font-size: 11px;
		text-align: right;
		padding: 15px 0 0 0;
		border-top: 1px dashed #CCC;
		text-shadow: 1px 1px 1px #FFF;
		color: #888;
	}


/** Responsive Magic **/

@media screen and (max-width: 768px)
{
	.container
	{
		
	}
	
		.container #headercont #headerlogo, .container #headercont #headerright
		{
			float: none;
			width: 100%;
			text-align: center;
		}
		
			.container #headercont #headerlogo h1 a img
			{
				width: 220px;
			}
			
		.container #maincont
		{
			background: none;
		}
		
		.container #maincont #mainleft, .container #maincont #mainright
		{
			float: none;
			width: 100%;
			text-align: center;
			
			min-height: 100px;
			height: auto !important;
			height: 100px;
		}
		
		.container #maincont #mainright .sidecont
		{
			padding: 20px 0 10px 0;
		}
		
			.container #maincont #mainright .sidesection h3
			{
				margin: 0 0 10px 0;
				font-size: 20px;
			}
		
			.container #maincont #mainright .sidesection
			{
				float: left;
				width: 48%;
				padding: 0 1%;
				margin: 0 0 15px 0;
			}
			
	.container #footercont
	{
		text-align: center;
	}
		
		
}

@media screen and (max-width: 480px)
{		
	.container
	{
		
	}
	
		.container #headercont #headerlogo h1 a
		{
			font-size: 32px;
		}
	
		.container #headercont #headerright p
		{
			font-size: 18px;
		}
	
		.container #maincont #mainright .sidecont
		{
			
		}
		
			.container #maincont #mainright .sidesection h3
			{
				margin: 0 0 10px 0;
				font-size: 24px;
			}

			.container #maincont #mainright .sidesection
			{
				clear: both;
				float: left;
				width: 100%;
				padding: 0%;
				margin: 0 0 15px 0;
			}
}

