div.objetivos, div.nota, div.ejercicios {
                max-width: 800px;
                margin: 60px;
                padding: 40px 60px;
                border-radius: 10px;
                box-shadow: 0 0 5px rgba(255, 255, 255, 0.2), inset 0 0 50px rgba(255, 255, 255, 0.1);

                                           color: #2f4f4f ;
                font-size: 1.5em;
                font-family: "Telex", sans-serif;
                }

div.objetivos {
                background-color: #FAF0E6;
                }

div.nota {
           background-color: #EEFAE7;
           }

div.ejercicios:before {
    content: "Ejercicios " counter(ejercicios) ". ";
    counter-increment: ejercicios; /* Add 1 to ejercicios */
}

div.ejercicios {
                 background-color: #E8F7FA;
                 }


