div.objetivos, div.nota, div.ejercicios {
          margin: 10px;
	  padding: 2px 2px;
          border-radius: 10px;
          box-shadow: 0 0 2px;

                }

div.objetivos {
                background-color: #FAF0E6;
                }

div.nota {
           background-color: #EEFAE7;
           }

div.ejercicios {
                 background-color: #E8F7FA;
                 }


