<!DOCTYPE html>
<html>
<head>
<title>{{page.title}}</title>
<meta charset="UTF-8">
<!--[if IE]><![endif]-->
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="{{site.path}}/stylesheets/blog/style.css">
<link rel="stylesheet" type="text/css" media="screen" href="{{site.path}}/stylesheets/josedom24.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.js"><\/script>')</script>
<script src="js/scripts.js"></script>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div class="container darkbg clearfix">
	<div id="headercont" class="clearfix">
		<div id="headerlogo">
			<h1><a title="" href="">{{page.title}}</a></h1>
			<h4><a href="">{{page.tagline}}</a></h4>
		</div>
		
	</div>
</div>
<div class="container lightbluebg clearfix">
    <div id="menucont" class="clearfix">
        <div class="menu">
            <ul>

            	{% assign pmenu = {{site.data.menu|first}} %}
             {% for m in site.data.menu %}

                {% if pmenu.nombre == {{m.nombre}} %}
                   {% for me in m.items %}

                          <li><a title="" href="{{me.url}}">{{me.name}}</a></li>
                {% endfor %}
                {% endif %}

              {% endfor %}


            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
	<div id="maincont" class="clearfix">
		<div id="mainleft">
 	{{content}}
        </div>
		<div id="mainright">
             {% for m in site.data.menu %}

                {% if m.nombre != {{pmenu.nombre}} %}

            <h3>{{m.nombre}}</h3>
            <ul class="otherlinks clearfix">
	         {% for me in m.items %}
             	<li><a title="" href="{{me.url}}" rel="external">{{me.name}}</a></li>
		{% endfor %}	
		{% endif %}
	
            </ul>
	    {% endfor %}


             <div class="sidebottom">
                        <p></p>
                    </div>
       <!--     <div class="sidecont clearfix">
                <div class="sidesection clearfix">
                    <h4><a title="" href="#">Responsive Design</a></h4>
                    <div class="sidetop">
                        <a class="hoverlink" title="" href="#"><img alt="" src="images/side-1.jpg" /><div class="overlay link"></div></a>
                    </div>
                    <div class="sidebottom">
                        <p>Curabitur tristique tempus purus ...</p>
                    </div>
                </div>
                <div class="sidesection clearfix">
                    <h4><a title="" href="#">HTML5 / CSS</a></h4>
                    <div class="sidetop">
                        <a class="hoverlink" title="" href="#"><img alt="" src="images/side-1.jpg" /><div class="overlay link"></div></a>
                    </div>
                    <div class="sidebottom">
                        <p>Curabitur tristique tempus purus ...</p>
                    </div>
                </div>
			</div>
        </div>-->
	</div>
</div>
<div class="container clearfix">
    <div id="footercont" class="clearfix">
        <p>Your Website Name &copy; 2012 - Free Website Template by <a title="derby website design" href="http://www.derby-webdesign.co.uk/" rel="external">Derby Web Design</a></p>
    </div>
</div>
</body>
</html>
